.f-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px;
    transition: transparent 0.3s ease;
    gap: 25rem;
    background: transparent;
    
  }
  
  .s-nav img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-right: 10px;
  }

  .s-nav{
    display: flex;
    flex-direction: column;
  }

  .s-nav p{
    font-size: 17px;
    margin-top: 1px;
    margin-left: -30px;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  .l-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
  }
  
  .l-nav li {
    margin-right: 20px;
  }

  .l-nav li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
  }
  
  .f-nav-scrolled {
    background-color: #013a01;
    position: fixed;
    width: 100%;
  }

  .f-nav-scrolled .s-nav p,
  .f-nav-scrolled .l-nav li a {
    color: #FFFFFF;
  }