.lspic{
    background: url(/src/Assets/livestock-collage-photo-farm-animals-breeding-farm-animals-pig-cow-goat-horse-duck-55054647.webp);
    padding: 140px 0px 90px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* filter: brightness(90%); */
}

.lspic p{
    color: #ffffff;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.lspic h1{
    color: #ffffff;
    width: 900px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 800;
}